@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
.navbar {
  background: rgb(253, 253, 253);
}
.navbar ul a {
  color: black;
  font-weight: 500;
}
.navbar ul a:hover,
.navbar .navbar-brand:hover {
  color: rgb(107, 124, 223);
}

.nav-link.active {
  color: rgb(15, 70, 172) !important ;
}

.navbar .navbar-toggler {
  font-size: 25px;
  border-color: transparent;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-brand {
  font-family: Raleway;
  color: black;
}

label {
  font-family: "Oswald";
}
input {
  font-weight: bold;
}
button {
  font-family: system-ui !important;
  font-weight: 500 !important;
}

.activeCategoryBtn {
  color: white !important;
  background-color: rgb(13, 110, 253) !important;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.pagination-container button {
  margin: 0 5px;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  color: rgb(3, 3, 3);
  border: 1px solid #5f5959;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-weight: 500;
  border-radius: 10px;
}

.pagination-container button:hover,
.pagination-container button.active {
  background-color: rgb(13, 110, 253);
  color: white;
}

.product-card,
.product-details,
.product-text,
.hero-img {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  font-family: "Roboto" !important;
}

.product-price {
  font-family: "Roboto";
}

.navbar svg {
  width: 32px;
  height: 35px;
  color: #070707;
  margin-top: -2px;
}
.totalCartItems {
  color: rgb(26, 15, 121);
  font-weight: 600;
  margin-left: -1.4rem;
  font-size: 1.2rem;
  vertical-align: -0.4rem;
}

.cart-svg {
  margin-top: -50px;
  margin-left: 0.5rem;
}
.navbar > .container {
  justify-content: space-between !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 299px) {
  .product-item-buttons button {
    padding: 0 !important;
  }

  .add-to-cart {
    width: 89px;
    height: 38px;
  }
}
